.JenisSakit{
    margin: 80px 120px;
}

.card-jenissakit{
    margin-top: 24px;
}

.card-sakit{
    margin-top: 16px;
    padding: 16px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
}


.card-title{
    font-size: 20px;
    font-weight: 600;
}

.custom-link {
    text-decoration: none;
  }