

.banner{
    margin: 40px 120px;
    background-color: rgb(27, 190, 117);
    border-radius: 16px;
}

.banner-cover{
    margin: 40px 24px;
   
}

.banner-title{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.banner-text{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.cariDokter{
    margin: 80px 120px;
}

.cariDokter-content{
    margin-bottom: 24px;
}

.cariDokter-title{
    font-size: 32px;
    font-weight: 700;
    color: #000;
}


.dokterRekomendasi{
    margin: 0 120px;
}

.card-dokter{
    /* display: flex; */
}