.obat {
    margin: 80px 120px;
  }
  
  .rekomendasi-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card-obat {
    padding: 24px;
    text-align: left;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 24px;
  }
  
  .card-obat:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .dokter-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-price {
    font-size: 16px;
    color: #00A376;
    margin-bottom: 10px;
  }
  
  .btn-product {
    background-color: #fff;
    border-color: #00A376;
    color: #00A376;
    font-weight: 600;
    width: 100%;
  }
  
  .btn-product:hover {
    background-color: #00A376;
    border-color: #00A376;
    color: #fff;
  }
  